html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 50px;
	background-image: url('../img/background.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

html, body {
	font-family: 'Raleway', sans-serif;
}

#about-container {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	display: none;
}

#about {
	background-color: #f0ad4e;
	border: 1px solid #eea236;
	padding: 0 1em;
	width: 90%;
	margin: 3em auto;
	border-radius: 0.5em;
}

#about-close {
	position: relative;
    top: 5px;
    color: #5e3a08;
    font-size: 2em
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(200, 200, 200, .5);
	padding: 1em;
}

.footer span {
	color: black;
}

.footer a {
	color: #5e3a08;
}

h1.title {
	font-family: 'Uncial Antiqua', cursive;
	font-size: 3em;
}

h2.subtitle {
	font-family: 'Uncial Antiqua', cursive;
	font-size: 2em;
}

#logo {
	display: block;
	width: 175px;
	height: 175px;
	background-image: url('../img/icon_guru.png');
	-webkit-background-size: 100%;
	background-size: 100%;
	margin: 0 auto;
	margin-top: 1em;
}

#textoSigno .signos{
	font-family: initial;
}

#textoSigno span {
	font-weight: bold;
}

.simboloSigno {
	display: block;
	width: 80px;
	height: 120px;
	-webkit-background-size: 80px 80px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 80px 80px;
	margin: 0 auto;
}

.simboloSigno.aries {
	background-image: url('../img/aries.png')
}
.simboloSigno.taurus {
	background-image: url('../img/taurus.png')
}
.simboloSigno.gemini {
	background-image: url('../img/gemini.png')
}
.simboloSigno.cancer {
	background-image: url('../img/cancer.png')
}
.simboloSigno.leo {
	background-image: url('../img/leo.png')
}
.simboloSigno.virgo {
	background-image: url('../img/virgo.png')
}
.simboloSigno.libra {
	background-image: url('../img/libra.png')
}
.simboloSigno.scorpion {
	background-image: url('../img/scorpion.png')
}
.simboloSigno.sagittarius {
	background-image: url('../img/sagittarius.png')
}
.simboloSigno.ophiuchus {
	background-image: url('../img/ophiuchus.png')
}
.simboloSigno.capricorn {
	background-image: url('../img/capricorn.png')
}
.simboloSigno.aquarius {
	background-image: url('../img/aquarius.png')
}
.simboloSigno.pisces {
	background-image: url('../img/pisces.png')
}